<form (ngSubmit)="saveOrUpdateBienImmo()">

    idAcquisition:number;
    typeAcquisition:string;
    dateAchat: string; //Date
    prixAchat:number;
    bienImmobilier:BienImmobilier;
    agentImmobilier: AgentImmobilier;
    client:Client;

    <div class="panel panel-primary">

        <!-- ++++++ En-tete du panel +++++-->
        <div class="panel-heading">
            <h3 class="panel-title">Formulaire d'acquisition d'un bien</h3> 
        </div>


        <!--++++++++ Body du panel +++++++++-->
        <div class="panel-body">

            <!-- champ texte (input) poiur le statut -->
            <div class="form-group">
                <label for="tbstatut">Type d'acquisition</label>
                <input type="text" id="tbstatut" class="form-control" placeholder="saisir le status du bien"
                    [(ngModel)]="bienImmo.statut" name="statut">
            </div>


            <!-- champ texte (input) pour le RC -->
            <div class="form-group">
                <label for="tbrc">Date de l'achat / du début de location</label>
                <input type="text" id="tbrc" class="form-control" placeholder="saisir son revenu cadastral"
                    [(ngModel)]="bienImmo.revenuCadastral" name="revenuCadastral">
            </div>

            <!-- champ texte (input) pour la date de soumission -->
            <div class="form-group">
                <label for="tbdatesou">Prix (€) :</label>
                <input type="text" id="tbdatesou" class="form-control" placeholder="saisir la date de soumission"
                    [(ngModel)]="bienImmo.dateDeSoumission" name="dateSoumission">
            </div>

            <!-- champ texte (input) pour la date de mise a dispo -->
            <div class="form-group">
                <label for="tbdatedispo">Bien immobilier :</label>
                <input type="text" id="tbdatedispo" class="form-control" placeholder="saisir la date de mise a dispo"
                    [(ngModel)]="bienImmo.dateDeMiseADisposition" name="dateDeMiseADisposition">
            </div>

            <!-- champ texte (input) pour la date de mise a dispo -->
            <div class="form-group">
                <label for="tbdatedispo">Agent immobilier :</label>
                <input type="text" id="tbdatedispo" class="form-control" placeholder="saisir la date de mise a dispo"
                    [(ngModel)]="bienImmo.dateDeMiseADisposition" name="dateDeMiseADisposition">
            </div>

            <!-- champ texte (input) pour la date de mise a dispo -->
            <div class="form-group">
                <label for="tbdatedispo">Client Acquéreur :</label>
                <input type="text" id="tbdatedispo" class="form-control" placeholder="saisir la date de mise a dispo"
                    [(ngModel)]="bienImmo.dateDeMiseADisposition" name="dateDeMiseADisposition">
            </div>

        </div>


        <!--++++++++ Footer du panel +++++++-->
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">Valider l'acquisition</button>
        </div>

    </div>


</form>