<form (ngSubmit)="saveOrUpdateBienImmo()">

    

    <div class="panel panel-primary">

        <!-- ++++++ En-tete du panel +++++-->
        <div class="panel-heading">
            <h3 class="panel-title">Formulaire d'acquisition d'un bien</h3> 
        </div>


        <!--++++++++ Body du panel +++++++++-->
        <div class="panel-body">

            <!-- champ texte (input) pour le type de l'acquisition -->
            <div class="form-group">
                <label for="tbtype">Type d'acquisition</label>
                <input type="text" id="tbtype" class="form-control" placeholder="saisir le type de l'acquisition"
                    [(ngModel)]="acquisition.typeAcquisition" name="typeAcquisition">
            </div>


            <!-- champ texte (input) pour la date de début d'acquisition -->
            <div class="form-group">
                <label for="tbdate">Date de l'achat / du début de location</label>
                <input type="text" id="tbdate" class="form-control" placeholder="saisir la date de d'acquisition"
                    [(ngModel)]="acquisition.dateAchat" name="date">
            </div>

            <!-- champ texte (input) pour le prix -->
            <div class="form-group">
                <label for="tbprix">Prix (€) :</label>
                <input type="text" id="tbprix" class="form-control" placeholder="saisir le prix de l'acquisition"
                    [(ngModel)]="acquisition.prixAchat" name="prix">
            </div>

            <!-- champ texte (input) pour le bien immobilier concerné -->
            <div class="form-group">
                <label for="tbbienImmobilier">Bien immobilier :</label>
                <input type="text" id="tbbienImmobilier" class="form-control" placeholder="saisir le bien immobilier concerné"
                    [(ngModel)]="acquisition.bienImmobilier" name="bienImmobilier">
            </div>

            <!-- champ texte (input) pour l'agent immobilier qui valide l'achat -->
            <div class="form-group">
                <label for="tbagent">Agent immobilier :</label>
                <input type="text" id="tbagent" class="form-control" placeholder="saisir l'agent immobilier"
                    [(ngModel)]="acquisition.agentImmobilier" name="agent">
            </div>

            <!-- champ texte (input) pour le client acquéreur -->
            <div class="form-group">
                <label for="tbclient">Client Acquéreur :</label>
                <input type="text" id="tbclient" class="form-control" placeholder="saisir le client acquéreur"
                    [(ngModel)]="acquisition.client" name="client">
            </div>

        </div>


        <!--++++++++ Footer du panel +++++++-->
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">Valider l'acquisition</button>
        </div>

    </div>


</form>