
.add-link{
    padding: 5px 10px 5px 10px;
}

.add-link:hover{
    text-decoration: none;
    cursor: pointer;
    border-radius: 25px;
    background-color:  #e3f2fd;
}

.contour{
    width: 100%;
    border: 5px rgb(191, 49, 49) solid;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px 20px 20px 20px;
}

.h1-panel{
    background: rgb(191, 49, 49) ;
    color: whitesmoke;
    width: 30%;
    height: 40px;
    padding-top: 10px ;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-bottom: 0;
    text-align: center;
}

.icone{
    font-size: 2rem;
    margin-right: 10px;
}
