
<div class="container-fluid" style="margin-left: 20px;margin-right: 20px;">

<a class="add-link" routerLink="edit/0" style="float: right;"> <span class="glyphicon glyphicon-plus"></span>{{'Visite.Ajout' | translate}}</a>

<h3 class="h1-panel"> <span class="glyphicon glyphicon-calendar icone"></span> {{'Visite.Liste' | translate}}</h3>



<div class="contour">

<div class="panel panel-primary" *ngFor="let visite of visites">

    <!--===================================-->
    <!--===== body du panneau =============-->
    <!--===================================-->
    <div class="panel-body">
        <div class="col-xs-10">
            <div class="row vertical-align">

                <!--++++++++ details de la visite ++++++++++++++++-->
                <div class="col-xs-8">

                    <!--++++++++ Date visite ++++++++++++++++-->
                    <div class="row">
                        <div class="col-xs-6 font-title">
                            {{'Visite.Date' | translate}}
                        </div>
                        <div class="col-xs-6">
                            {{visite.dateVisite}}
                        </div>
                    </div>

                    <!--++++++++ Agent Immobilier ++++++++++++++++++-->
                    <div class="row ">
                        <div class="col-xs-6">
                            {{'Visite.Agent' | translate}}
                        </div>
                        <div class="col-xs-6">
                            {{visite.agentImmobilier.nom}}  {{visite.agentImmobilier.prenom}} 
                        </div>
                    </div><!--end row-->

                    <!--++++++++ Bien Immobilier ++++++++++++++++++-->
                    <div class="row ">
                        <div class="col-xs-6">
                            {{'Visite.Bien' | translate}}
                        </div>
                        <div class="col-xs-6">
                            {{visite.bienImmobilier.statut}} 
                        </div>
                    </div><!--end row-->

                </div>

            </div><!--end row vertical align-->
        </div><!--end div col-xs-10-->
    </div><!--end body-->

    <!--===================================-->
    <!--===== footer du panneau ===========-->
    <!--===================================-->
    <div class="panel-footer">

        <button class="btn btn-primary" (click)="editVisite(visite.idVisite)">
            {{'Modifier' | translate}} 
        </button>
        ||
        <button class="btn btn-danger" (click)="deleteVisite(visite)" >
            {{'Supprimer' | translate}}
        </button>

    </div>
</div> 

</div>


</div>