<!-- Footer -->
<footer class="page-footer font-small indigo" style="background-color: #e3f2fd;">

    <!-- Footer Links -->
    <div class="container" style="margin-top:20px;">
  


      <!-- Grid row-->
      <div class="row text-center d-flex justify-content-center pt-5 mb-3" style="margin-top:10px">
  
        <div class="col-md-1 mb-3"></div>

        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a #href1ts href="" id="Color1" style="font-size: 20px;">
              <span class="glyphicon glyphicon-info-sign" style="height: 30px;width: 30px;"></span><br>
              About us
            </a>
          </h6>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="" id="Color2" style="font-size: 20px;">
              <span class="glyphicon glyphicon-tags" style="height: 30px;width: 30px;"></span><br>
              Products
            </a>
          </h6>
        </div>
        <!-- Grid column -->
        
        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="" id="Color3" style="font-size: 20px;">
              <span class="glyphicon glyphicon-flag" style="height: 30px;width: 30px;"></span><br>
              Awards
            </a>
          </h6>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="" id="Color4" style="font-size: 20px;">
              <!--<img src="../../../assets/images/phone-not-being-used.png" height="30px;" width="30px;">-->
              <span class="glyphicon glyphicon-phone-alt" style="height: 30px;width: 30px;"></span><br>
              Help
            </a>
          </h6>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="" id="Color5" style="font-size: 20px;">
              <!--<img src="../../../assets/images/important-mail.png" height="30px;" width="30px;">-->
              <span class="glyphicon glyphicon-envelope" style="height: 30px;width: 30px;"></span>
              <br>Contact</a>
          </h6>
        </div>
        <!-- Grid column -->
  
        <div class="col-md-1 mb-3"></div>

      </div>
      <!-- Grid row-->
  
      <br>

      <!-- Grid row-->
      <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
  
        <!-- Grid column -->
        <div class="col-md-12 col-12 mt-5">
          <p style="line-height: 1.7rem;font-size: 2rem;"><b>Un</b> logement <b>pour tous</b>, tous pour nous donner de l'argent!</p>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
      <hr class="clearfix d-md-none rgba-white-light" style="margin: 25px 10px;">
  
      </div>
      <!-- Grid row-->
  
    <!-- Copyright -->
    <!--  
      >    © 2020 Copyright: Leseur Anaïs, Levardon Hannah, Gaugain Gabriel, Leprovost Pierre-François, Wanaverbecq Kévin et Yannis
     -->
    <div class="footer-copyright text-center py-3" style="padding-bottom: 10px;">
      © 2020 Copyright: Team numero unO
    </div>
    <!-- Copyright -->
    
  
  </footer>
  <!-- Footer -->
