@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans");

.Color1{
    color : #000088;
}
.Color2{
    color : #004444;
}
.Color3{
    color : #008800;
}
.Color4{
    color : #444400;
}
.Color5{
    color : #880000;
}


.page-footer{
    font-family: 'Balsamiq Sans', cursive;
}