<!-- Footer -->
<footer class="page-footer font-small indigo" style="background-color: #e3f2fd;">

    <!-- Footer Links -->
    <div class="container">
  


      <!-- Grid row-->
      <div class="row text-center d-flex justify-content-center pt-5 mb-3">
  
        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a #href1ts href="" class="Color1" style="font-size: 20px;">About us</a>
          </h6>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="" class="Color2" style="font-size: 20px;">Products</a>
          </h6>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="" class="Color3" style="font-size: 20px;">Awards</a>
          </h6>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="" class="Color4" style="font-size: 20px;"><img
                src="../../../assets/images/phone-not-being-used.png" height="30px;" width="30px;"><br>Help</a>
          </h6>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="" class="Color5" style="font-size: 20px;"><img
                src="../../../assets/images/important-mail.png" height="30px;" width="30px;"><br>Contact</a>
          </h6>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
  
      <br>

      <!-- Grid row-->
      <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
  
        <!-- Grid column -->
        <div class="col-md-10 col-15 mt-5">
          <p style="line-height: 1.7rem"><b>Un</b> logement <b>pour tous</b>, tous pour nous donner de l'argent!</p>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
      <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
  
      </div>
      <!-- Grid row-->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright: Leseur Anaïs, Levardon Hannah, Gaugain Gabriel, Leprovost Pierre-François, Wanaverbecq Kévin et Yannis
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
