<div style="text-align: center;">


    <form #LoginForm="ngForm" (ngSubmit)="doLogin()" class="form-signin" >

        <!-- Inserer un logo/image ici-->
        <span class="glyphicon glyphicon-user" style="font-size: 10em;margin-top:10px"></span>
        <br><br>
        
        <h1 class="h3 mb-3 font-weight-normal">{{'demo.SeConnecter' | translate }}</h1>
        <br>

        <input type="text" [(ngModel)]="username" name="username"
               class="form-control" placeholder="Username" 
               required autofocus/>

        <input type="password" [(ngModel)]="password" name="password"
               class="form-control"   placeholder="Password"
               required/>

        <div class="checkbox mb-3">
            <label >
                <input type="checkbox" value="remember-me"/>
                Se souvenir de moi
            </label>
        </div>

        <button class="btn btn-primary btn-lg btn-block" type="submit" (click)=doLogin()> Se connecter</button>
    </form>


</div>