<div style="text-align: center;">


    <form #LoginForm="ngForm" (ngSubmit)="seConnecter(LoginForm.value)" class="form-signin" >

        <!-- Inserer un logo/image ici-->
        <br><br><br>
        
        <h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>
        <br>

        <input type="text" [(ngModel)]="utilisateur.login" name="identifiant"
               class="form-control" placeholder="Identifiant" 
               required autofocus/>

        <input type="password" [(ngModel)]="utilisateur.password" name="mdp"
               class="form-control"   placeholder="Mot De Passe"
               required/>

        <div class="checkbox mb-3">
            <label >
                <input type="checkbox" value="remember-me"/>
                Se souvenir de moi
            </label>
        </div>

        <button class="btn btn-primary btn-lg btn-block" type="submit"> Se connecter</button>
    </form>


</div>