
<form (ngSubmit)="saveOrUpdateClient()">


    <div class="panel panel-primary">
    
        <!-- ++++++ En-tete du panel +++++-->
        <div class="panel-heading">
            <h3 class="panel-title">{{'AjoutModifClient.Titre' | translate}}</h3> 
        </div>
     
    
        <!--++++++++ Body du panel +++++++++-->
        <div class="panel-body">
    
            <!-- champ texte (input) poiur le nom -->
            <div class="form-group">
                <label for="tbnom">{{'AjoutModifClient.Nom' | translate}}</label>
                <input type="text" id="tbnom" class="form-control" placeholder="saisir le nom"
                [(ngModel)]="client.nom" name="nom">
            </div>
    
            <!-- champ texte (input) poiur le prenom -->
            <div class="form-group">
                <label for="tbprenom">{{'AjoutModifClient.Prenom' | translate}}</label>
                <input type="text" id="tbprenom" class="form-control" placeholder="saisir le prenom"
                [(ngModel)]="client.prenom" name="prenom">
            </div>   

            <!-- champ texte (input) poiur l'email -->
            <div class="form-group">
                <label for="tbemail">{{'AjoutModifClient.Email' | translate}}</label>
                <input type="text" id="tbemail" class="form-control" placeholder="saisir l'email"
                [(ngModel)]="client.email" name="email">
            </div>
    
            <!-- champ texte (input) poiur l'email -->
            <div class="form-group">
                <label for="tbtel">{{'AjoutModifClient.Telephone' | translate}}</label>
                <input type="text" id="tbtel" class="form-control" placeholder="saisir le numero de telephone"
                [(ngModel)]="client.telephonePrive" name="telephonePrive">
            </div>

        </div>
    
    
        <!--++++++++ Footer du panel +++++++-->
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">{{'AjoutModifClient.Bouton' | translate}}</button>
        </div>
    
    </div>
    
    
    </form>
    