<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" 
		style="margin-left:0px; margin-top:0px; margin-right:0px;">
  <ol class="carousel-indicators" >
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../../assets/images/Yourte.jpg" class="d-block w-100" alt="..." height="800px" width="100%">
      <div class="carousel-caption">

   	  </div>
    </div>	
    <div class="carousel-item">
      <img src="../../../../assets/images/Villa.jpg" class="d-block w-100" alt="..." height="800px" width="100%"> 
    <div class="carousel-caption">

   	</div>
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/images/Appartement.jpg" class="d-block w-100" alt="..." height="800px" width="100%">
    <div class="carousel-caption">

   	</div>
    </div>

    <div class="carousel-item">
        <img src="../../../../assets/images/Maison.jpg" class="d-block w-100" alt="..." height="800px" width="100%">
      <div class="carousel-caption">
  
         </div>
      </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>