.panel{
    margin: 20px 20px 10px 20px;
}

.add-link{
    padding: 5px 10px 5px 10px;
}

.add-link:hover{
    text-decoration: none;
    cursor: pointer;
    border-radius: 25px;
    background-color:  #e3f2fd;
}

a:hover{
    text-decoration: none;
    cursor: pointer;
}

.add-adress{
    min-width: 100%;
    min-height: 100%;
    height:170px;
    width: 170px;

    border: 1px solid lightblue;
    border-radius: 15px;
    text-align: center;
    padding: 40px;
}

.add-adress:hover{
    box-shadow: 3px 2px 5px lightblue;
 
}


.add-adress span{
    font-size: 3em;
}