/* Import des polices de GoogleFont */
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans");


.navbar-brand{
    color: rgb(86, 86, 86);
    /*font-family: 'Lobster', cursive;*/
    font-family: 'Pacifico', cursive;
}

.navbar-brand.active{
    color: rgb(74, 74, 74);
    font-weight: bold;
    background-color: #e3f2fd;
}

nav li a{
    font-family: 'Balsamiq Sans', cursive;
}


nav li a.active{
    color: rgb(64, 64, 140); /* couleur du lien actif*/
    font-weight: bold;
    background-color: #e3f2fd; /* couleur pour que le bouton n'est pas de couleur après click*/
}

nav a:hover{
    background-color: #cfe6f7; /* couleur au passage de la souris  */
}

nav a.decoration{
    text-decoration: underline;
}

nav button{
    border:solid 1px rgb(86, 86, 86);
    border-radius: 5px;
    height: 40px;
    width: 40px;
    align-content: center;
    align-items: center;
}

nav button span{
    width:90%;
    margin-right: 5%;
    margin-left:5%;
    background-color:rgb(86, 86, 86) ;
}